@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
}

@font-face {
  font-family: "IRANSansWeb";
  src: url("../assets/fonts/IRANSansWeb.eot"); /* IE */
  src: url("../assets/fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    /* IE */ url("../assets/fonts/IRANSansWeb.woff") format("woff"),
    /* Modern Browsers */ url("../assets./fonts/IRANSansWeb.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}

body {
  font-family: "IRANSansWeb";
}

.bo1::after {
  content: "";
  background-color: rgb(235, 235, 235);
  display: inline-block;
  width: 1px;
  height: 500px;
  position: absolute;
  left: 0;
  top: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ********************** start footer ***** */
.footer{
  @apply bg-[#f7fdfc];
}
/* footer-fast-link__button */
.footer-fast-link__button{
  @apply py-[8px] mb-[8px] text-[#00241f] text-[16px] font-bold;
}
/* footer-fast-link__link */
.footer-fast-link__link{
  @apply border-[#ebebeb] block mb-[12px] text-[#00241f] text-[14px] font-medium hover:text-[#009480];
}
/* footer-contact-us__address */
.footer__contact-us_address{
  @apply text-[14px] font-medium text-[#00241f] mb-3 px-2;
}
/* footer-contact-us__phone */
.footer__contact-us_phone{
  @apply text-[14px] font-bold text-[#009480] hover:text-[#7dd4c873];
}
/* footer-contact-us__license-img */
.license-img{
  @apply border border-[#ebebeb] rounded-[10px];
}
/* footer-social-icon */
.footer-social-icon{
  @apply text-[21px] pe-[30px] hover:text-red-600;
}
/* *********************************** end footer ***** */
/* **************************** */
/* ****************************************************** */
/* ***************************     accordion label */
.accordion-label{
  @apply font-bold h-auto sm:h-[65px] flex items-center py-[13px] ps-[10px] pe-[44px] sm:py-[19px] sm:ps-[22px] sm:pe-[68px] text-[14px] sm:text-[16px] text-[#00241f] cursor-pointer;
}
.accordion-content{
  @apply pb-2 px-[20px] text-[14px] sm:text-[16px] leading-9 font-light text-[#00241f];
}
/* ******************************************************** */
/* *********************   article            */
.article__time-author{
  @apply flex justify-start items-center text-[12px] text-[#454545];
}
.article__title{
  @apply text-[#555555] text-[20px] font-semibold my-2;
}
.article__description{
  @apply text-[#757575] text-[14px] leading-7 my-2;
}
.article__button{
  @apply bg-[#56c0a6] px-[20px] py-3 text-[14px] font-normal text-white rounded-lg mt-5;
}
/* article page */
.article__header{
  @apply text-[#2c2f34] text-[18px] items-start mt-5 mb-4 font-semibold;
}
.article__paragraph{
  @apply text-[#2c2f34] text-[14px] items-start my-4 leading-7 ;
}
/* ****************************************************************** */
/* ********************   price-services-tabel */
.services__price-tabel-1{
  @apply py-[10px] px-[8px] sm:h-[64px] bg-[#ebebeb] flex flex-nowrap items-center justify-between text-[14px] font-medium text-[#00241f];
}
.services__price-tabel-2{
  @apply py-[10px] px-[8px] sm:h-[64px] bg-[#fbfbfb] flex flex-nowrap items-center justify-between text-[14px] font-medium text-[#00241f];
}
.read-more-button{
  @apply bg-white border border-[#56c0a6] px-[20px] py-[5px] text-[14px] font-normal text-[#56c0a6] rounded-lg hover:text-[#2f6d5e] hover:border-[#2f6d5e];
}
.services-price__list-style{
  @apply text-[14px] text-[#757575] font-bold list-none my-6 flex items-center justify-start ;
}
.services-price__list-icon{
  @apply  text-[#56c0a6] text-[10px] me-4;
}
/* ******************************************************************* */
/* ***********************   expert-card */
.expert-card__name{
  @apply text-[14px] text-[#00241f] font-bold mb-4;
}
.expert-card__score{
  @apply flex items-center me-4 p-[5px] justify-center bg-[#f29f21] border border-[#f29f21] rounded-lg text-white text-[14px] font-bold;
}
.expert-card__job{
  @apply items-start text-[14px] font-medium text-[#757575] my-5;
}
.expert-card__documents-expert{
  @apply text-[12px] font-medium text-[#00241f];
}
/* ******************************************************************** */
/* *************************  services-bookmark */
.services__bookmark-style {
  @apply border border-[#757575] rounded-lg py-[20px] px-[16px] text-[#757575] text-[14px] font-bold flex items-center justify-center hover:text-[#56c0a6] hover:border-[#56c0a6] cursor-pointer transition-[0.5s];
}