@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
}

@font-face {
  font-family: "IRANSansWeb";
  src: url("../assets/fonts/IRANSansWeb.eot"); /* IE */
  src: url("../assets/fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    /* IE */ url("../assets/fonts/IRANSansWeb.woff") format("woff"),
    /* Modern Browsers */ url("../assets./fonts/IRANSansWeb.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}

body {
  font-family: "IRANSansWeb";
}

.bo1::after {
  content: "";
  background-color: rgb(235, 235, 235);
  display: inline-block;
  width: 1px;
  height: 500px;
  position: absolute;
  left: 0;
  top: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ********************** start footer ***** */
.footer{
  @apply bg-[#f7fdfc];
}
/* footer-fast-link__button */
.footer-fast-link__button{
  @apply py-[8px] mb-[8px] text-[#00241f] text-[16px] font-bold;
}
/* footer-fast-link__link */
.footer-fast-link__link{
  @apply border-[#ebebeb] block mb-[12px] text-[#00241f] text-[14px] font-medium hover:text-[#009480];
}
/* footer-contact-us__address */
.footer__contact-us_address{
  @apply text-[14px] font-medium text-[#00241f] mb-3 px-2;
}
/* footer-contact-us__phone */
.footer__contact-us_phone{
  @apply text-[14px] font-bold text-[#009480] hover:text-[#7dd4c873];
}
/* footer-contact-us__license-img */
.license-img{
  @apply border border-[#ebebeb] rounded-[10px];
}
/* footer-social-icon */
.footer-social-icon{
  @apply text-[21px] pe-[30px] hover:text-red-600;
}
/* *********************************** end footer ***** */
/* **************************** */
